---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';
import Posts from '@/components/Posts.astro';
import Contact from '@/components/Contact.astro';
---

<Layout>
	<Header />
	<Hero />
	<section id="experience">
		<Experience />
	</section>
	<section id="projects">
		<Projects />
	</section>
	<section id="posts">
		<Posts />
	</section>

	<section id="contact">
		<Contact />
	</section>
	<footer class="mt-72 w-full py-6 text-center text-sm text-muted-foreground">
		<p>© 2024 Jesús Merlo. All rights reserved.</p>
	</footer>
</Layout>
