---
import Layout from '../layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
---

<Layout>
	<Header />
	<Hero />
	<div class="min-h-screen flex items-center justify-center">
		<h1 class="text-4xl font-bold">Welcome to My Portfolio</h1>

	</div>
	<section id="contact" class="flex items-center justify-center">
		<h2 class="text-3xl font-bold">Contact Me</h2>
	</section>
	<footer class="mt-[1000px] w-full py-6 text-center text-sm text-muted-foreground">
		<p>© 2024 Jesús Merlo. All rights reserved.</p>
	</footer>
</Layout>
