---
interface CardTitleProps extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className = "", ...props } = Astro.props as CardTitleProps;
const classes = `text-2xl font-semibold leading-none tracking-tight ${className}`.trim();
---

<h3 class={classes} {...props}>
  <slot />
</h3>
