---
interface CardContentProps extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className = "", ...props } = Astro.props as CardContentProps;
const classes = `p-6 pt-0 ${className}`.trim();
---

<div class={classes} {...props}>
  <slot />
</div>
